*.pyc
*~
*.~lock.*
*.xls
*.xlsx
__pycache__
myvenv
.DS_Store
aws_key.pem
help.py
raw_images
/static/admin
/static/css
/static/fonts
/static/image
/static/img
/static/js
db.sqlite3
Promotion.odt
settings1.py
settings2.py
