{% extends "base/email.html" %}
{% load i18n %}
{% block core %}

<td><h4>{% trans 'Dear, ' %} {{guest}}</h4>
          {% for key, value in content.items %}
          <p>&emsp;{% trans 'Thank you for your interest to our technology.' %} {{value}}</p>
          {% if key == 'credentials' %}
          <p>{% trans 'Go to login page of' %} <a href="{{comaex_demo}}" style="cursor:pointer" target="_blank">Comaex Demo</a>.</p>
          {% endif %}
          {% endfor %}
          <p style='margin: 15px 0px 0px 0px'>{% trans 'Regards, Comaex Team' %}</p>
      </td>

{% endblock core %}