<p>
1. Общие положения

Федеральное государственное унитарное предприятие «Международное информационное агентство «Россия сегодня» (МИА «Россия сегодня», «мы», «нам\нас»), зарегистрированное по адресу: 119021, Россия, Зубовский бульвар, дом 4, придаёт большое значение защите Вашей частной жизни.

В связи с этим МИА «Россия сегодня» обязуется соблюдать требования законодательства и действующие нормы, относящиеся к защите персональных данных с точки зрения Регламента № 2016/679 Европейского парламента и Совета Европейского Союза от 27 апреля 2016 года «О защите физических лиц при обработке персональных данных и  о свободном обращении таких данных, а также об отмене Директивы 95/46/ЕС» («Общий регламент о защите персональных данных», «GDPR»).

Настоящая Политика Конфиденциальности направлена на то, чтобы проинформировать Вас о наших действиях по сбору, обработке и использованию сведений, которые Вы передаете нам при использовании настоящего сайта.

Мы обращаем Ваше внимание на то, что серверы, на которых находятся данные, передаваемые нам через сайт, находятся в России. Еврокомиссия до сих пор не квалифицировала уровень защиты данных в России, как приемлемый. Однако, мы постоянно работаем над совершенствованием существующей системы безопасности и прикладываем усилия для обеспечения надлежащей защищенности Ваших данных.

Пожалуйста, примите во внимание, что данный сайт может содержать ссылки на сайты других поставщиков услуг, которых мы не контролируем, и на которых данная Политика Конфиденциальности  не распространяется.

Предлагаем Вам внимательно ознакомиться с настоящим документом, чтобы узнать и понять, какие шаги мы предпринимаем для обработки и защиты Ваших персональных данных, и как Вы можете реализовывать свои права, связанные с обработкой Ваших персональных данных.

2. Виды информации, которую мы получаем

2.1.Данные, получаемые нами автоматически и обрабатываемые без цели идентификации конкретного лица

2.1.1.      Автоматическое протоколирование

Также как и на большинстве сайтов в сети интернет, наши веб-серверы и системы безопасности автоматически временно сохраняют в файлах регистрации некоторые технические данные. Эти данные никогда не используются нами для идентификации какого-либо физического лица.  Мы не осуществляем объединение этих данных с другими данными и передачу этих данных, а также создание персональных профилей пользователей. Обработка этих данных осуществляется исключительно с целью предоставления возможности пользования сайтом (установление соединения, обеспечение корректной работы сайта, техническое администрирование и  обеспечение  безопасности), и с целью ведения статистики, чтобы лучше адаптировать сайт под Ваши потребности в дальнейшем. К таким данным, относятся, в частности, следующие:

-           IP-адрес Вашего компьютера\устройства;

-           содержание запроса (имя и адрес запрошенного файла на нашем сайте);

-           дата и время запроса;

-           различие времени между часовыми поясами по Гринвичу (GMT);

-           статус  соединения;

-           соответствующий объём передаваемых данных в количественном измерении;

-           техническая спецификация используемого устройства, включая язык и версию браузера, информацию об операционной системе Вашего компьютера\устройства;

-           URL отсылочного сайта, если доступ осуществлялся по ссылке;

-           Device ID*, уникальное число, которое генерируется при установке мобильного приложения на ваш смартфон или планшет и формируется из комбинации информации об устанавливаемом приложении и типа устройства, на которое произведена установка.

*эту информацию мы собираем только когда вы  используете наше мобильное приложение для Android или iOS.

 

По общему правилу мы не храним эти данные больше 12 месяцев, однако этот срок может быть увеличен по требованию Законодательства России или ЕС. Мы не сможем обеспечивать корректную работу сайта и  безопасность данных в случае прекращения обработки этих данных, поэтому единственная возможность не передавать нам эти данные заключается в прекращении использования сайта.

2.1.2.      Использование файлов «cookies»

Одна из технологий, применяемых нами для получения информации и повышения качества контента,  связана с использованием файлов cookies. Файл «cookie» это небольшой текстовый файл, содержащий данные, которые записываются на устройстве (на компьютере, планшете, смартфоне и т.п.), когда Вы посещаете сайты в сети интернет.

Эти данные никогда не используются нами для идентификации какого-либо физического лица. Обработка этих данных проводится с целью оптимизации работы сайта, повышения качества  контента и в рекламных целях. Эти цели достигаются за счет анализа статистических данных, например, с целью оценки тенденций в поведении пользователей сайта. К таким данным, в частности, относятся:

-           IP-адрес Вашего компьютера\устройства;

-           содержание запроса (имя и адрес запрошенного файла на нашем сайте);

-           дата и время запроса;

-           различие времени между часовыми поясами по Гринвичу (GMT);

-           статус  соединения;

-           соответствующий объём передаваемых данных в количественном измерении;

-           техническая спецификация используемого устройства, включая язык и версию браузера, информацию об операционной системе Вашего компьютера\устройства;

-           URL отсылочного сайта, если доступ осуществлялся по ссылке, а также условия поиска, если доступ осуществляется через браузер;

-           данные об используемых  Вами настройках на нашем сайте;

-           данные о времени первого и последнего посещения сайта, продолжительности последней сессии;

-           имя Вашего интернет-провайдера.

Некоторые  файлы cookies автоматически удаляются с Вашего устройства после закрытия окна в браузере, другие автоматически удаляются лишь по прошествии определённого времени, которое может различаться в зависимости от типа файла cookies и составлять от 30 минут до 13 месяцев.

Вы можете пользоваться нашим сайтом и без использования файлов cookies. В большинстве браузеров функция записи этих файлов установлена по умолчанию. Однако, Вы можете запретить сохранение файлов cookies или настроить предупреждение о попытке сохранении файла cookies в Вашем браузере, установив настройки браузера соответствующим образом. Вы также можете в любое время удалить записанные ранее на Ваш компьютер\устройство файлы cookies, используя соответствующие настройки браузера. Более подробную информацию о допуске, запрете, просмотре и удалении файлов cookies Вы можете найти в настройках Вашего браузера или на сайте поддержки пользователей браузера.

Важно учитывать, что при определённых обстоятельствах блокирование файлов сookies может приводить к ограничению функциональности нашего сайта.

Для целей, указанных в настоящем разделе 2.1.2., мы также можем использовать на нашем сайте сторонние сервисы, которые тоже могут сохранять и анализировать файлы cookies, а также собирать другую техническую информацию о Вашем устройстве. Мы требуем от наших партнеров бережного отношения к пользовательским данным и сотрудничаем только с компаниями, имеющими соответствующую репутацию. Ниже приводится перечень сторонних сервисов, которые мы можем использовать на нашем сайте. Пожалуйста, ознакомьтесь с подробным описанием работы этих сервисов на их сайтах по ссылкам, приведенным ниже. Для этих сайтов Вы также можете запретить сбор информации о вашем устройстве и использование файлов cookies:

-           Google Analytics (http://www.google.com/analytics/)

-           Google Adsense (https://www.google.com/adsense/ )

-           comScore (http://www.comscore.com/)

-           Doubleclick by Google (https://www.doubleclickbygoogle.com/)

-           Taboola (https://www.taboola.com/)

-           AdRiver (http://www.adriver.ru)

-           Yandex.Metrika (https://metrika.yandex.ru/)

-           LiveInternet (http://www.liveinternet.ru/)

-           Postquare (http://www.postquare.com/)

-           AdFox (https://www.adfox.ru/)

-           Yandex.Direct (https://direct.yandex.ru/)

-           Flurry* (http://flurry.com)

* Этот сервис может использоваться только когда Вы используете наше мобильное приложение для Android или iOS.

 

2.2. Данные, которые мы получаем в том числе для целей идентификации конкретного лица

2.2.1. Оставление комментариев, оценка и иное использование материалов сайта

Для Вашего удобства сайт может использовать  модули социальных сетей. Для оставления комментариев и других действий с контентом сайта  Вы можете использовать один из своих аккаунтов в  социальных сетях. Когда Вы используете свой аккаунт в одной из социальных сетей, мы получаем некоторые общие данные из Вашего аккаунта. В зависимости от настроек приватности Вашего аккаунта в каждой конкретной социальной сети этот набор данных может отличаться. Далее перечислен максимально широкий объем данных, к которому может получить доступ наш сайт -  имя, фамилия, фотография, дата рождения, пол, адрес электронной почты, ваши подписки на другие страницы. Мы используем эти данные только для идентификации и удобства взаимодействия с Вами.

Модули социальных сетей используются нами не для того, чтобы получать информацию о поведении пользователей, а для того, чтобы повысить качество сервиса, в том числе для того, чтобы дать Вам возможность напрямую общаться с Вашими друзьями и знакомыми, делиться статьями и другими интересующими Вас материалами на нашем сайте через социальные сети.

В то же время, социальные сети могут собирать информацию для реализации своих целей, и мы не можем повлиять на проводимый ими процесс сбора информации. Обратите внимание на то, что эти платформы имеют свою собственную Политику Конфиденциальности, и мы не несём никакой ответственности за то, каким образом эти сайты используют информацию, получаемую ими в тот момент, когда Вы нажимаете на соответствующие ссылки. В связи с этим мы рекомендуем вам ознакомиться с последней редакцией Политики Конфиденциальности каждой из используемых Вами социальных сетей.

2.2.2.  Обеспечение возможности обратной связи

Для обеспечения возможности связаться с нами по поводу публикуемых на сайте материалов или по другим вопросам мы предусмотрели возможность осуществления обратной связи.

Вы можете связаться с нами через сообщение на один из адресов электронной почты, указанных на сайте. В этом случае мы обрабатываем Ваши персональные данные: указанное Вами имя, Ваш адрес электронной почты и прочие данные только в том случае, если это необходимо для выполнения цели, с которой Вы устанавливаете контакт. Мы считаем, что при направлении нам подобного сообщения Вы даете согласие на обработку нами Ваших персональных данных для целей разрешения возникшего у Вас вопроса.

По общему правилу мы прекратим обработку таких данных после достижения цели, с которой Вы устанавливали с нами контакт.

3. Предоставление данных третьим лицам

Персональные данные, собранные в рамках использования сайта, не передаются третьим лицам без Вашего согласия, за исключением случаев,  предусмотренных в настоящей Политике Конфиденциальности.

Положения абзаца первого настоящего пункта 3 неприменимы к тем случаям, когда персональные данные предоставляются государственным учреждениям или правоохранительным органам, а также частным лицам на основании закона или соответствующего решения властей, либо в рамках гражданского или уголовного судопроизводства при посягательстве на наши законные интересы.

4. Каковы Ваши права и как ими воспользоваться?

Согласно положениям Европейского регламента о защите персональных данных, Вы имеете право получать доступ к Вашим персональным данным, обрабатываемым МИА «Россия сегодня», вносить в них изменения и запрещать их обработку. Вы также можете попросить уничтожить эти данные. Если Вы дали согласие на использование персональных данных, Вы в любое время можете его отозвать.

Для реализации этих прав Вам следует связаться с нами по электронной почте privacy@sputniknews.com или написать нам письмо (МИА «Россия сегодня», Россия, 119021, Москва, Зубовский бульвар, 4, стр. 1,2.3).

Важно понимать, что для исполнения любого запроса, касающегося внесения изменений в процессы обработки нами Ваших персональных данных, мы должны однозначно идентифицировать Вас. В этой связи к запросам, касающимся реализации Ваших прав такого характера, следует приложить копию документа, удостоверяющего личность, с подписью его владельца и указать адрес, на который должен быть направлен ответ.

Если Вы считаете, что обработка Ваших персональных данных, не подлежащих разглашению, осуществляется нами с нарушениями Ваших прав, Вы можете подать жалобу в соответствующий орган по надзору в сфере защиты персональных данных.

5. Безопасность данных

Персональные данные, которые мы получаем и храним, считаются конфиденциальной информацией. Они защищены от утраты, изменения и несанкционированного доступа. Для этого нами используются соответствующие меры технического и административного характера. Мы стремимся постоянно развивать существующую систему защиты данных.

Вы несёте ответственность за конфиденциальность пароля от Вашего аккаунта на нашем Сайте, который мы предоставляем Вам. Вы обязаны хранить этот пароль в секрете и никому его не сообщать.

6. Внесение изменений в Политику Конфиденциальности

Мы оставляем за собой право в любой момент вносить изменения в нашу Политику Конфиденциальности. Например, это возможно при проведении работ по совершенствованию нашего сайта или при изменении правовых норм. Просим Вас регулярно следить за изменениями нашей Политики Конфиденциальности.

7. Контакты

По всем вопросам, связанным с настоящей Политикой Конфиденциальности, Вы можете связаться с нами, направив сообщение по электронной почте на адрес: privacy@sputniknews.com


Читать далее: https://ee.sputniknews.ru/docs/about/privacy_policy.html
</p>