<!--  SLIDER MODULE -->
<div id="headerShow" class="w3-content w3-display-container" style="max-width:1160px; margin-top: 50px">
    {% for slide in slides %}
    {% if slide.slug == 'slide' %}
  <img class="mySlides w3-animate-opacity" src="{{ slide.image.url }}" alt="{{ slide.description }}" style="width:100%">
    
    <!--<div class="w3-display-position" style="top:70%; left:10%">
        <h3><strong>THIS IS TEXT</strong></h3></div>-->
     <div class="myText w3-display-position w3-text-white" style="top:0%; left:5%; font-weight:bold">
      <p class="w3-hide-small w3-hide-medium" style="font-size:45px">{{slide.title}}</p>
        <p class="w3-hide-small w3-hide-large" style="font-size:30px">{{slide.title}}</p>
          <p class="w3-hide-large w3-hide-medium" style="font-size:20px">{{slide.title}}</p>
          <!--<h4 class="w3-jumbo w3-hide-small w3-hide-large">{{slide.description}}</h4>
          <h6 class="w3-jumbo w3-hide-large w3-hide-medium">{{slide.description}}</h6>-->
      <!--<h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>
      <h1 class="w3-hide-small">COLLECTION 2016</h1>-->
      <p class="w3-hide-small w3-hide-medium" style="font-size:18px"><a href="#jeans" class="w3-button w3-padding-large w3-round-large w3-large" style="background-color:#373538">{{slide.description}}</a></p>
        <p class="w3-hide-small w3-hide-large" style="font-size:12px"><a href="#jeans" class="w3-button w3-padding-medium w3-medium w3-round-large" style="background-color:#373538">{{slide.description}}</a></p>
          <p class="w3-hide-large w3-hide-medium" style="font-size:6px"><a href="#jeans" class="w3-button w3-padding-small w3-small w3-round-large" style="background-color:#373538">{{slide.description}}</a></p>
    </div>
    {% endif %}
    {% endfor %}
    
  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
      {% for circle in slides %}
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv({{circle.filenum}})"></span>
      {% endfor %}
  </div>
   
</div>
