{% extends "base/alert.html" %}
{% load i18n %}
{% block core %}

<td>
    <div class="container">
    <h3>Форма предзаказа</h3>
      <form method='POST' enctype="multipart/form-data" style="padding-top:16px">
      {% csrf_token %}
  
        
        <!--<div class="loop10" style="padding: 0px 0px 16px 50px; color:#373538">
            <span>&#9899; Звоните нам: +7 985 482-85-88</span><br>
            <span>&#9899; Пишите нам по вопросам сотрудничества, техническим, запросу пароля на <a href="http://comaex.ddns.net" style="color:red; cursor: pointer" target="_blank">Comaex Demo</a> и другим:</span>
        </div>-->
          
          <p>{{introduction}}</p><br>
        
       {% for field in form %}
             {{ field.errors }}
          {{ field.label_tag }}
               {{ field }}
       {% endfor %}
          
           {% if messages %}
            <ul class="messages">
               {% for message in messages %}
                 <li class="alert" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
               {% endfor %}
            </ul>
          {% endif %}
          
        <input type="submit" value="Отправить"><br>
            
   
  </form>
        
    </div>
</td>

{% endblock core %}