{% extends "base/alert.html" %}
{% load i18n %}
{% block core %}

<td>
    <div class="container">
    <h3>Форма предзаказа</h3>
      <form method='POST' enctype="multipart/form-data" style="padding-top:16px">
      {% csrf_token %}
          
          <p class="introduction">{{introduction}}</p><br>
        
       {% for field in form %}
             {{ field.errors }}
          {{ field.label_tag }}
               {{ field }}
       {% endfor %}
          
           {% if messages %}
            <ul class="messages">
               {% for message in messages %}
                 <li class="alert" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
               {% endfor %}
            </ul>
          {% endif %}
          
        <input type="submit" value="Отправить"><br>
            
   
  </form>
        
    </div>
</td>

{% endblock core %}