{% extends "base/email.html" %}

{% block core %}

<td>
    <div id=main>
    <h3>{{heading}}</h3>
     
          {% for key in content %}
            
          {% if key.promotion %}
          {% for item, value in key.items %}
     <h3 id='title'>{{value.title}}</h3>
        <p>{% filter linebreaksbr %}{{value.desc_html|safe|linebreaksbr}}{% endfilter %}</p>
        <a href="{{url}}" title="{% trans 'Visit website' %}" target="_blank">
            <img id='img' {% if debug %} src="{{value.image.url}}" {% else %} src="{{url}}{{value.image.url}}" {% endif %}
                 title="{{value.title}}" style="width:100%"></a>
          {% endfor %}
          {% endif %}
    
          {% if key.image %}
          {% for im, images in key.items %}
          {% for image in images %}
     <h3 id='title'>{{image.title}}</h3>
        <p>{% filter linebreaksbr %}{{image.desc_html|safe|linebreaksbr}}{% endfilter %}</p>
        {% if image.image %}
        <a href="{{url}}/home/specification" title="{% trans 'Visit website' %}" target="_blank">
            <img id='img' {% if debug %} src="{{image.image.url}}" {% else %} src="{{url}}{{image.image.url}}" {% endif %} 
                 title="{{image.title}}" style="width:100%"></a>
        {% endif %}
          {% endfor %}
          {% endfor %}
          {% endif %}
        
          {% endfor %}
    
         <br>
           
    <a href="{{url}}/email/unsubscribe/{{unsubscribe}}" class="btn danger" title="{% trans 'unsubscribe from emailing' %}" target="_blank">{{unsub}}</a>
           <a href="{{url}}/email/interested/{{interested}}" class="btn success" title="{% trans 'evaluate the idea' %}" target="_blank">{{inter}}</a>
           <a href="{{url}}/email/preorder/{{preorder}}" class="btn order" title="{% trans 'make pre-opder' %}" target="_blank">{{preord}}</a>
         
    </div>
</td>

{% endblock core %}