<!-- Menu Section -->
{% block base_menu %}
<a href="/" class="w3-bar-item w3-button">ABOUT</a>
      <a href="/products/all/" class="w3-bar-item w3-button"><i class="fa fa-user"></i> PRODUCTS</a>
         {% if user.is_authenticated %}
         <a href="#downloads" class="w3-bar-item w3-button"><i class="fa fa-user"></i> DOWNLOADS</a>
        {% endif %}
      <a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> WORK</a>
      <a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> PRICING</a>
      <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
         {% if user.is_authenticated %}
        <a href="/account/logout/" class="w3-bar-item w3-button">LOGOUT</a>
        <a href="/account/{{user}}/" class="w3-bar-item w3-button">Welcome, {{user}}</a>
        {% else %}
      <a href="/account/register/" class="w3-bar-item w3-button">REGISTER</a>
      <a href="/account/login/" class="w3-bar-item w3-button">LOGIN</a>
        {% endif %}
{% endblock base_menu %}