{% extends "base/email.html" %}
{% load i18n %}
{% block core %}

<td>
    <div id=main>
    <h3>{{heading}}</h3>
     
          {% for key in content %}
            
          {% if key.promotion %}
          {% for item, value in key.items %}
     <h3 id='title'>{{value.title}}</h3>
        <p>{% filter linebreaksbr %}{{value.desc_html|safe|linebreaksbr}}{% endfilter %}</p>
        <a href="{{value.urllink}}" title="{% trans 'Visit website' %}" target="_blank">
            <img id='img' {% if debug %} src="{{value.image.url}}" {% else %} src="{{host}}{{value.image.url}}" {% endif %}
                 title="{{value.title}}" style="width:100%"></a>
          {% endfor %}
          {% endif %}
    
          {% if key.image %}
          {% for im, images in key.items %}
          {% for image in images %}
     <h3 id='title'>{{image.title}}</h3>
        <p>{% filter linebreaksbr %}{{image.desc_html|safe|linebreaksbr}}{% endfilter %}</p>
        {% if image.image %}
        <a href="{{image.image.urllink}}" title="{% trans 'Visit website' %}" target="_blank">
            <img id='img' {% if debug %} src="{{image.image.url}}" {% else %} src="{{host}}{{image.image.url}}" {% endif %} 
                 title="{{image.title}}" style="width:100%"></a>
        {% endif %}
          {% endfor %}
          {% endfor %}
          {% endif %}
          {% endfor %}
    
         <br>
   
    <a href="{{host}}/email/unsubscribe/{{uuid}}" class="btn danger" title="{% trans 'unsubscribe from emailing' %}" target="_blank">{{unsubscribe}}</a>
    <a href="{{host}}/email/interested/{{uuid}}" class="btn success" title="{% trans 'evaluate the idea' %}" target="_blank">{{interest}}</a>
        {% if category == 'HVAC' %}
    <a href="{{host}}/email/preorder/{{uuid}}" class="btn order" title="{% trans 'make pre-opder' %}" target="_blank">{{preorder}}</a>
        {% endif %}
        {% if category == 'SFUGD' %}
    <a href="{{host}}/email/buy/{{uuid}}" class="btn order" title="{% trans 'make a bid' %}" target="_blank">{{buy}}</a>
        {% endif %}
         
    </div>
</td>

{% endblock core %}