/* base css settings */
body,p,code,h1,h2,h3,h4,h5,h6 {
    font-family: "Tahoma", sans-serif;
    color: #373538;
}
#menuT{
    color: #373538;
}

code, p {
    text-align: justify;
}

body, html {
  height: 100%;
  line-height: 1.8;
}

.w3-bar .w3-button {
  padding: 16px;
}

/* Slider show */
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

table.fixed { 
    table-layout:fixed; 
    }
table.fixed td {
    overflow: hidden;
    }
